<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>问卷调查管理系统</title>
</head>
<frameset rows="45,*" cols="*" frameborder="no" border="0" framespacing="0">
  <frame src="{:U('top')}" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame"/>
  <frameset cols="187,*" frameborder="no" border="0" framespacing="0">
    <frame src="{:U('left')}" name="leftFrame" scrolling="No" noresize="noresize" id="leftFrame" title="leftFrame"/>
    <frame src="{:U('right')}" name="rightFrame" scrolling="No" noresize="noresize" id="rightFrame" title="rightFrame"/>
  </frameset>
</frameset>
<noframes>
  <body></body>
</noframes>
</html> 
